{% extends 'base.html' %}
{% load static %}
{% block title %}监控对象{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        系统信息
      <!-- </h1> -->
    </section>
{% endblock %}

{% block content %}

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

        <div class="box">
        <!-- /.box-header -->

        <div class="box-body">

            <table id="monitor_object_table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>系统全称</th>
                        <th>系统简称</th>
                        <th>系统等级</th>
                        <th>系统开发负责人</th>
                        <th>系统运维负责人</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                    </tr>
                </thead>
                <tbody>

                {% for msysinfo in SysInfoManage %}

                    <tr>
                         <td>
                             <div class="icheck-primary">
                                 <input type="checkbox">{{ forloop.counter  }}
                             </div>
                         </td>




                        <td>{{ msysinfo.Sys_name }}</td>
                        <td>{{ msysinfo.Sys_abbreviation }}</td>

                        {% if msysinfo.Sys_level == 'first_level_layer' %}
                          <td class="text-green text-bold">{{ msysinfo.get_Sys_level_display }}</td>
                        {% elif msysinfo.Sys_level == "second_level_layer" %}
                          <td class="text-yellow text-bold">{{ msysinfo.get_Sys_level_display }}</td>
                        {% elif msysinfo.Sys_level == "third_level_layer" %}
                         <td class="text-blue text-bold">{{ msysinfo.get_Sys_level_display }}</td>
                        {% endif %}

                        <td>{{ msysinfo.Sys_dev_pricipal }}</td>
                        <td>{{ msysinfo.Sys_ops_pricipal }}</td>

                        <td>{{ msysinfo.create_time|date:"Y/m/d [H:m:s]" }}</td>


                        <td>{{ msysinfo.update_time|date:"Y/m/d [H:m:s]" }}</td>

                    </tr>

                {% empty %}
                <tr>没有数据</tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
        </div>
    <!-- /.col -->
      </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}

<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>

$(function () {
        $('#monitor_object_table').DataTable({
          "paging": true,       <!-- 允许分页 -->
          "lengthChange": false, <!-- 允许改变每页显示的行数 -->
          "searching": false,    <!-- 允许内容搜索 -->
          "ordering": true,     <!-- 允许排序 -->
          "info": false,         <!-- 显示信息 -->
          "autoWidth": false    <!-- 固定宽度 -->
        });
      });

</script>

{% endblock %}
